* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.user__card {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  /* background-color: lightsteelblue; */
  /* width: 320px; */
  position: relative;
  height: 560px;
}

/* .user__profile {
  border-right: 1px solid rgb(95, 151, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} */

.user__image {
  width: 200px;
  border-radius: 50%;
}

.user__email {
  /* color: black; */
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  /* background-color: black; */
  font-size: 18px;
}

.user__button {
  cursor: pointer;
  position: absolute;
  right: 12px;
  bottom: 12px;
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: crimson;
}

.user__verification {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  /* background-color: rgb(216, 216, 216); */
  /* padding: 6px; */
  font-weight: bold;
  /* margin-bottom: 25px; */
  /* border: 1px solid black; */
}

.user__verification:hover {
  cursor: pointer;
  text-decoration: underline;
}

.verification_image {
  width: 12px;
}

.user__controls {
  width: 400px;
}

/* Modal */

.modal-body input {
  width: 100%;
  outline: none;
}

.email__verfication__components,
.change__password__container,
.change__email__container {
  border-bottom: 1px solid grey;
}

@media (max-width: 500px) {
  .user__image {
    width: 160px;
  }

  .user__controls {
    width: 250px;
  }
}
